.books-container {
  display: flex;
  justify-content: space-between;
  margin: 2.313rem 1.25rem 0;
  padding: 1rem 1.688rem;
  border-radius: 4px;
  border: solid 1px #888;
  background-color: #fff;
}

.book-col-1 {
  max-width: 30%;
}

.book-category {
  margin: 0 2.438rem 0 0;
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  color: #1d1919;
}

.book-title {
  font-family: 'Roboto Slab', serif;
  font-size: 1.375rem;
  letter-spacing: -0.2px;
  color: #424141;
  font-weight: bold;
  width: 22.313rem;
}

.book-author {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 0.875rem;
  color: #4386bf;
}

.book-btns {
  margin: 0.188rem 0.938rem 0.125rem 0;
  justify-content: start;
  font-size: 0.875rem;
  color: #4386bf;
}

.remove-btn {
  border: none;
  background-color: transparent;
  counter-reset: none;
  color: #4386bf;
}

.book-col-2 {
  display: flex;
}

.oval-2 {
  -webkit-background-clip:
    content-box,
    border-box,
    border-box,
    border-box,
    border-box;
  background-clip:
    content-box,
    border-box,
    border-box,
    border-box,
    border-box;
  background-image:
    linear-gradient(#fff, #fff),
    linear-gradient(30deg, #d3d3d3 36%, #d3d3d3 0),
    linear-gradient(120deg, #0290ff 56%, #0290ff 0),
    linear-gradient(300deg, #0290ff 36%, #d3d3d3 0),
    linear-gradient(210deg, #0290ff 36%, #0290ff 0);
  background-origin:
    content-box,
    border-box,
    border-box,
    border-box,
    border-box;
  background-position: 50%, 0 0, 100% 0, 0 100%, 100% 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%, 50% 50%, 50% 50%, 50% 50%, 50% 50%;
  border: 6px solid transparent;
  border-radius: 50%;
  height: 4.25rem;
  width: 4.25rem;
}

.completed-txt-parcent {
  padding-left: 1rem;
}

.completed-parcent {
  font-size: 2rem;
  color: #1d1919;
  line-height: 1.4rem;
}

.completed-text {
  color: #1d1919;
  opacity: 0.5;
}

.book-col-3 {
  padding-top: 0.7rem;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

.current-chappter-text {
  opacity: 0.5;
  font-size: 0.813rem;
  font-weight: 300;
  color: #1d1919;
}

.current-lesson {
  width: 4.688rem;
  height: 1.313rem;
  font-weight: 300;
  letter-spacing: -0.4px;
  color: #1d1919;
  margin: 0.5rem 0 1.2rem 0;
}

.progr-btn {
  min-width: 20%;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border-radius: 3px;
  background-color: #0290ff;
  border: none;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
}
