@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import './base/App';
@import './base/header';
@import './base/Book';
@import './base/Form.css';

::after,
::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f5f6fa;
}

a {
  text-decoration: none;
}

.main-container {
  margin-top: -3px;
  padding-bottom: 140px;
  border-radius: 4px;
}

.Line {
  width: 100%;
  height: 0.125rem;
  border: solid 1px #dbd8d8;
  margin: 0.21rem 0 2.313rem;
}

.Line-3 {
  width: 95%;
  height: 0.125rem;
  margin: 3rem auto 0.04rem;
  border: solid 1px #e8e8e8;
}

.clickable {
  cursor: pointer;
}

.flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sm-line {
  width: 0.125rem;
  height: 1.5rem;
  margin: 0.93rem 1.063rem;
  border: solid 1px #e8e8e8;
}

.big-line {
  width: 0.125rem;
  height: 4.375rem;
  margin: 1.125rem 0 0 0;
  border: solid 1px #e8e8e8;
}

.links li a.active-style {
  color: #1d1919;
}
